.dialog {

  &__titleBox {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    gap: 8px;
    
    &__title {
      width: 100%;

      outline: none;
      border:none;

      font-size: 24px;
      font-weight: 500;
      color: #303030;

      &::placeholder {
        font-weight: 500;
        color: #bdbdbd;
      }
    }
  }

  &__calendarBox {
    display: flex;
    align-items: center;

    width: 100%;

    gap: 16px;
    padding-top: 16px;
    
  }

  &__markdownBox {
    width: 100%;
    height: 50vh;
  }

  &__buttonBox {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 100%;

    gap: 16px;
    padding-top: 12px;
  }
}

// .dialog {
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   gap: 16px;

//   &__titleBox {
//     display: flex;
//     align-items: center;
//     gap: 8px;

//     width: 100%;

//     &__title {
//       flex: 1;
//       border: none;
//       outline: none;

//       font-size: 24px;
//       font-weight: 500;
//     }
//   }

//   &__calendarBox {
//     display: flex;
//     gap: 16px;
//     width: 100%;
//   }

//   &__markdownBox {
//     width: 100%;
//     min-height: 300px;
//   }

//   &__buttonBox {
//     display: flex;
//     justify-content: flex-end;
//     gap: 16px;
//     width: 100%;
//   }
// }